package injectors

import "github.com/alioth-center/infrastructure/cli"

func {{ .InjectorName }}Injector (input *cli.Input) []cli.TranslationSet {
    // todo: implement the injector
    panic("injector not implemented")
}
